# 以'#' 开始的行，被视为注释.
# 忽略掉所有文件名是 foo.txt 的文件.
foo.txt
# 忽略所有生成的 html 文件,
*.html
# foo.html是手工维护的，所以例外.
!foo.html
#  忽略所有.o 和 .a文件.
*.[oa]
*.sdf
*.sln
Debug
ipch
x64
.vs/optical_flow/v14/.suo
.vs/optical_flow/v14/.suo
optical_flow.opensdf
optical_flow.sdf
*.sdf
.vs/optical_flow/v14/.suo
